### One Hot Encoding -  Variables with Many Categories

In [30]:
import pandas as pd
import numpy as np

In [31]:
dataset = pd.read_csv('data/train.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [32]:
dataset.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [33]:
for col in dataset.columns:
    print(col,len(dataset[col].unique()),'labels')

X1 27 labels
X2 44 labels
X3 7 labels
X4 4 labels
X5 29 labels
X6 12 labels

In [35]:
pd.get_dummies(dataset,drop_first = True).shape

(4209, 117)

In [37]:
# Let's find the Top 10 most frequent categories for the variable X2
dataset.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [41]:
top_10 = [x for x in dataset.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [45]:
for label in top_10:
    dataset[label] = np.where(dataset['X2'] == label,1,0)
dataset[['X2']+top_10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [50]:
# Similarly applying to all features X1,X2,X3,X4,X5.
def one_hot_top(dataset,variable,top_x_labels):
    for label in top_x_labels:
        dataset[variable+'_'+label] = np.where(dataset[variable] == label,1,0)
dataset = pd.read_csv('data/train.csv',usecols=['X1','X2','X3','X4','X5','X6'])
one_hot_top(dataset,'X2',top_10)
dataset.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0