In [10]:
import pandas as pd
import numpy as np
dataset = pd.read_excel('cars.xls')

In [11]:
dataset.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [12]:
dataset.shape

(804, 12)

In [13]:
dataset_mp = dataset[['Mileage','Price']]

In [18]:
bins = np.arange(0,50000,10000)

In [19]:
bins

array([    0, 10000, 20000, 30000, 40000])