# Sales Channel Prediction Assignment

### 1. Loading Dataset and Libraries

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [39]:
dataset = pd.read_csv('Advertising.csv',index_col = 0)

### 2. Doing Some EDA

In [40]:
dataset.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [42]:
dataset.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [43]:
dataset.shape

(200, 4)

In [44]:
dataset.nunique()

TV           190
radio        167
newspaper    172
sales        121
dtype: int64

In [45]:
dataset.isnull().sum()

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

### 3. Segregating Input and Output Variable

In [46]:
X = dataset[['TV','radio','newspaper']]
y = dataset['sales']

In [47]:
X.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [48]:
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [49]:
X.iloc[:,1:].corr()

              radio  newspaper
radio      1.000000   0.354104
newspaper  0.354104   1.000000

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=101)

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
Regressor = LinearRegression()

In [54]:
Regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
y_predict = SimpleLinearRegression.predict(X_test)

In [56]:
from sklearn.metrics import r2_score

In [57]:
score = r2_score(y_test,y_predict)

In [58]:
score

0.9185780903322446