## T-Test Implementation with 1- Sample T-test

#### 1-Sample T-Test will tell us whether mean's of the sample and population are different or not.

In [1]:
import numpy as np

In [2]:
ages = [10,20,30,40,35,94,35,51,3,66,1,21,5,84,3,54,21,24,71,15,61,45,87,12,64,75,15,2,48,12,23,14]

In [3]:
len(ages)

32

In [4]:
ages_mean = np.mean(ages)

In [5]:
ages_mean

35.65625

In [6]:
sample_mean_size = 10

In [7]:
sample_ages = np.random.choice(ages,sample_mean_size)

In [8]:
from scipy.stats import ttest_1samp

In [9]:
t_test, p_value = ttest_1samp(sample_ages,35)

In [10]:
p_value

0.5354092656324152

In [11]:
if p_value < 0.05:
    print("We are Rejecting Null Hypothesis.")
else:
    print("We are Accepting Null Hypothesis.")

We are Accepting Null Hypothesis.

### More Problems on 1 Sample T-Test Implementation

In [12]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import math
np.random.seed(0)

In [13]:
school_age = stats.poisson.rvs(18,35,1500)
class_a_age = stats.poisson.rvs(18,30,60)

In [14]:
school_age_mean = school_age.mean()

In [15]:
school_age_mean

53.096

In [16]:
_, p_value = ttest_1samp(class_a_age,school_age_mean)

In [17]:
p_value

3.813925040470229e-17

In [18]:
if p_value <= 0.05:
    print("We are Rejecting Null Hypothesis.")
else:
    print("We are Accepting Null Hypothesis.")

We are Rejecting Null Hypothesis.

## T-Test Implementation with 2-Sample T-Test

#### 2-Sample T-Test compares the mean of two independent group's in order to determine whether there is statistical evidence that the associated population means are significantly different. The independent sample T-Test is a parametric test. <span style="color:red">It is also known as Independent T-Test</span>.

In [19]:
np.random.seed(0)
class_b_age = stats.poisson.rvs(18,33,60)

In [20]:
ttest, p_value = stats.ttest_ind(class_a_age,class_b_age,equal_var = False)

In [21]:
p_value

6.078273257469394e-09

In [22]:
if p_value <= 0.05:
    print("We are Rejecting Null Hypothesis.")
else:
    print("We are Accepting Null Hypothesis.")

We are Rejecting Null Hypothesis.

## Paired T-Test with Python

#### Paired T-Test is used when you want to check how different sample's from the same  group are.

In [23]:
weight_now = [25,23,26,34,20,15,35,16,23,30,15,25,32,45,40]
weight_after_a_month = weight_now + stats.norm.rvs(scale = 5,loc = -1.25,size = 15)

In [24]:
weight_after_a_month

array([25.63212766, 16.25299605, 26.24119087, 39.38192948, 15.2771607 ,
       13.0018273 , 31.57423224, 23.99631864, 25.11147379, 30.78730918,
        9.90041963, 26.44624596, 27.3783367 , 43.90915279, 35.57076961])

In [27]:
weight_dataframe = pd.DataFrame({"Weight Now":np.array(weight_now),
                                "Weight After a Month":np.array(weight_after_a_month),
                                "Weight Change":np.array(weight_after_a_month) - np.array(weight_now)})

In [28]:
weight_dataframe

    Weight Now  Weight After a Month  Weight Change
0           25             25.632128       0.632128
1           23             16.252996      -6.747004
2           26             26.241191       0.241191
3           34             39.381929       5.381929
4           20             15.277161      -4.722839
5           15             13.001827      -1.998173
6           35             31.574232      -3.425768
7           16             23.996319       7.996319
8           23             25.111474       2.111474
9           30             30.787309       0.787309
10          15              9.900420      -5.099580
11          25             26.446246       1.446246
12          32             27.378337      -4.621663
13          45             43.909153      -1.090847
14          40             35.570770      -4.429230

In [30]:
_,p_value = stats.ttest_rel(weight_now,weight_after_a_month)

In [33]:
p_value

0.41275263833076914

In [34]:
if p_value < 0.05:
    print("We are Rejecting Null Hypothesis.")
else:
    print("We are Accepting Null Hypothesis.")

We are Accepting Null Hypothesis.