In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv("50_Startups.csv")

In [4]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [14]:
X= dataset.iloc[:,:-1]

In [15]:
y= dataset.iloc[:,4]

### Convert the column to  Categorical column

In [18]:
states=pd.get_dummies(X["State"],drop_first=True)

In [23]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [20]:
X = X.drop('State',axis = 1)

In [22]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [27]:
X = pd.concat([X,states],axis=1)

In [28]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Splitting the data into Train and Test Data

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [31]:
from sklearn.linear_model import LinearRegression
Regressor = LinearRegression()

In [32]:
Regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Predict Y according to X

In [34]:
y_predict = Regressor.predict(X_test)

### Implementing R^2 for finding Accuracy

In [36]:
from sklearn.metrics import r2_score

In [37]:
score = r2_score(y_test,y_predict)

In [38]:
score

0.9347068473282423

# 0.9347